* {
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
}

.h1 {
    font-size: 1.75em;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-family: fantasy;
}

.h2 {
    font-size: 1.25em;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    padding: 5px;
    width: 180px;
    float: right;
    background-color: #F8BD0B;
    font-family: sans-serif;
    color: red;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.p1,.p2 {
    clear: both;
    padding: 15px;
    text-align: left;
    font-size: 1em;
    font: Garamond;
}

.container1 {
    border: solid 2px black;
    background-color: #FF930F;
    float: left;
    margin: 2%;
    height: 250px;
    align-content: center;
    font-family: Times New Roman;
    color: white;
    font-size: 1em;
}

.container2 {
    border: solid 2px black;
    background-color: #34D18A;
    float: left;
    margin: 2%;
    height: 250px;
    align-content: center;
    font-family: Helvetica;
    color: white;
    font-size: 1em;
}

.row {
    width: 100%;
}

#b1 {
    background-color: #CD6A10; 
    color: #66CCFF;
}


#b2 {
    background-color: #108001;
    color: #3B3453;
}


#b3 {
    background-color: #CCFF66;
    color: #800002;
}

@media (min-width: 992px) {
    .container1 {
        width: 29%;
        top: 40px;
    }

    .container2 {
        width: 29%;
        top: 40px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .container1 {
        width: 46%;
        top: 40px;
    }

    .container2 {
        width: 96%;
        top: 40px;
    }


}
}

@media (max-width: 767px) {
    .container1 {
        width: 96%;
        top: 40px;
    }

    .container2 {
        width: 96%;
        top: 40px;
    }

}